.end-my-holy-war {
    background-color: black;
    color: white;
}
.faith {
    text-align: center;
    background-color: blueviolet;
    color: cornsilk;
}
.week-ago {
    text-align: right;
    text-decoration: underline;
    color: purple;
    background: lightblue;
}